<div class="panel panel-default">
  <div class="panel-heading"
        role="tab" 
        id={{ '"heading' | append: linkId | append: '"' }} 
        data-toggle="collapse" 
        href={{ '"#collapse' | append: linkId | append: '"' }} 
        aria-expanded="false" 
        aria-controls={{ '"#collapse' | append: linkId | append: '"' }}>
    <ul class="nav">
      <li class="navbar-left"><span class="glyphicon glyphicon-menu-right"></span></li>
      <li class="navbar-left fixedWidth">
      {% case method %}
        {% when 'GET' %}
           {{ site.sections['getLabel'] }}
        {% when 'POST' %}
           {{ site.sections['postLabel'] }}
        {% when 'PUT' %}
           {{ site.sections['putLabel'] }}
        {% when 'DELETE' %}
           {{ site.sections['deleteLabel'] }}
      {% endcase %}
      </li>
      <li class="navbar-left">{{ endpoint }}</li>
      {% if summary %}
        <li class="navbar-right">{{ summary}}</li>
      {% endif %}
    </ul>
  </div>
  
  <div  id={{ '"collapse' | append: linkId | append: '"' }}
        class="panel-collapse collapse" 
        role="tabpanel" 
        aria-labelledby={{ '"heading' | append: linkId | append: '"' }}>
    <div class="panel-body">
      {{ description | markdownify }}
      {% if jsonrequest.size > 0 %}
        {% include exampleFieldset.html %}
      {% endif %}
    </div>
  </div>
</div>
