<ol>
	<li><a href = "General-Information">General Information</a>
		<ul>
			<li><a href = "General-Information#http-status-codes">HTTP Status Codes</a></li>
			<li><a href = "General-Information#url-parameter">URL-Parameter</a>
				<ul>
					<li><a href = "General-Information#catalogues">Catalogues</a></li>
					<li><a href = "General-Information#inspection-plan">Inspection Plan</a></li>
					<li><a href = "General-Information#measurements-and-values">Measurements and Measured Values</a></li>
					<li><a href = "General-Information#raw-data">Raw Data</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href = "Fetch-General-Service-Information">Fetch General Service Information</a></li>
	<li><a href = "Fetch-the-Configuration">Fetch the Configuration</a></li>
	<li><a href = "Handle-Catalogues-and-Catalogue-Entries">Handle Catalogues and Catalogues Entries</a></li>
	<li><a href = "Handle-parts">Handle Parts</a></li>
	<li><a href = "Handle-Characteristics">Handle Characteristics</a></li>
	<li><a href = "Handle-Measurements">Handle Measurements</a></li>
	<li><a href = "Handle-Measured-Values">Handle Measured Values</a></li>
	<li><a href = "Handle-Raw-Data">Handle Raw Data</a>
		<ul>
			<li><a href = "Handle-Raw-Data#endpoint-information">Endpoint information</a></li>
			<li><a href = "Handle-Raw-Data#add-raw-data">Add raw data</a></li>
			<li><a href = "Handle-Raw-Data##fetch-raw-data-information">Fetch raw data information</a></li>
			<li><a href = "Handle-Raw-Data#fetch-raw-data">Fetch raw data</a></li>
			<li><a href = "Handle-Raw-Data#update-raw-data">Update raw data</a></li>
			<li><a href = "Handle-Raw-Data#delete-raw-data">Delete raw data</a></li>
		</ul>
	</li>
</ol>
