<div data-spy="affix" data-offset-top="195" >
{% for node in site.pages %}
	{% if node.level == 0 and node.area == page.area %}
		{% for sec in node.sections %}
			<ul class="subNavList">
				{% for pg in site.pages %}
					{% if pg.level == 1 and pg.area == page.area and pg.category == sec[0] %}
						{% capture url %}{{site.baseurl}}{{ pg.url}}{% endcapture %}
						<li><a {% if pg.category == page.category %}class="bold" {% endif %} href="{{url}}">{{ sec[1] }}</a></li>
					
						{% if pg.category == page.category %}
							<div id="navbar" >
							<ul class="nav">
							{% for subSec in pg.sections %}
								{% assign subPage = nil %}
								{% for spg in site.pages %}
									{% if spg.level == 2 and spg.area == page.area and spg.category == sec[0] and spg.subCategory == subSec[0] %}
										{% assign subPage = spg %}
									{% endif %}
								{% endfor %}
								{% if subPage %}
									{% capture url %}{{site.baseurl}}{{ subPage.url}}{% endcapture %}
									<li {% if subPage.url == page.url %}class="active" {% endif %}>
										<a href="{{url}}">{{ subPage.pageTitle }}</a>
									</li>	
								{% else %}
									<li><a href="#{{ subSec[1] | slugify }}">{{ subSec[1] }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
	{% endif %}
{% endfor %}
</div>
