<ul class="nav navbar-nav visible-lg-block .visible-xs-block">
    <li style="border-right:1px dotted; margin-right: 10px;">
            {% for node in site.pages %}
		    {% if node.level == 0 and node.area == 'sdk' and node.isCurrentVersion and node.isCurrentVersion == true %}
			    <a {% if node.area == page.area %}class="active" {% endif %}href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
		    {% endif %}
            {% endfor %}
    </li>
    <li>
        <a href="https://github.com/ZEISS-PiWeb/PiWeb-Api" id="octocat">Github page</a>
    </li>
    <li>
        <a href="https://www.nuget.org/packages/Zeiss.IMT.PiWebApi.Client/" id="nuget">nuget package</a>
    </li>
</ul>