<ul class="nav navbar-nav-right">
    <li style="border-right:1px dotted; padding-right: 10px;">
        <span>
            {% for node in site.pages %}
		    {% if node.level == 0 and node.area == 'sdk' and node.isCurrentVersion and node.isCurrentVersion == true %}
			    <a {% if node.area == page.area %}class="active" {% endif %}href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
		    {% endif %}
            {% endfor %}
        </span>
    </li>
    <li>
        <a href="https://github.com/ZEISS-PiWeb/PiWeb-Api" id="octocat">Github page</a>
    </li>
    <li>
        <a href="https://www.nuget.org/profiles/Zeiss_IZFM id="nuget">nuget packages</a>
    </li>
</ul>