<div data-spy="affix" data-offset-top="80" >
{% for node in site.pages %}
	{% if node.area == page.area %}
		{% for sec in node.sections %}
			<ul class="subNavList">
				{% for pg in site.pages %}
					{% if pg.level == 1 and pg.area == page.area and pg.category == sec[0] %}
						{% capture url %}{{site.baseurl}}{{ pg.url}}{% endcapture %}
						<li><a {% if pg.category == page.category %}class="bold" {% endif %} href="{{url}}">{{ sec[1].title }}</a></li>
					
						
							<div id="navbar" >
							<ul class="nav">
							{% for subSec in pg.sections %}
								<li><a href="{{url}}#{{ subSec[1].anchor }}" data-target="#{{ subSec[1].anchor }}">{{ subSec[1].title }}</a></li>
							{% endfor %}
							</ul>
							</div>
						
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
		<ul class="nav subNavist">
		{% for sec in node.sections %}
			<li><a href=#"{{sec[0].anchor}}" data-target="#{{sec[0].anchor}}">{{sec[0]}}{{sec[1]}}{{sec[2]}}</a></li>
			<ul class="nav subNavist">
			{% for subsec in sec[0].secs %}
				<li><a href=#"{{subsec[0].anchor}}" data-target="#{{subsec[0].anchor}}">{{subsec[0].title}}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
</div>
