<div data-spy="affix" data-offset-top="80" >
<div id="navbar" >
{% for node in site.pages %}
	{% if node.area == page.area %}
		<ul class="nav">
		{% comment %}When you iterate over a hash using a variable called sec, sec[0] contains the key and sec[1] contains the value on each iteration.{% endcomment %}
		{% for sec in node.sections %}
			<li><a href="#{{sec[1].anchor}}" data-target="#{{sec[1].anchor}}">{{sec[1].title}}</a></li>
			<div id="navbar" >
			<ul class="nav">
			{% for subsec in sec[1].secs %}
				<li><a href="#{{subsec[1].anchor}}" data-target="#{{subsec[1].anchor}}">{{subsec[1].title}}</a></li>
			{% endfor %}
			</ul></div>
		{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
</div>
</div>
