body {
  font-family: "Segoe UI",Verdana,Helvetica,sans-serif;
  font-size: 14px;
  background-color:#FDFDFD;
  color: #232323;
  margin: 0;
  padding-top: 0;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

h1{
	margin-top: 0px;
  	line-height: inherit;
}

h2{
  line-height: 1.3;
  font-weight: 500;
  display: block;
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
}

/*Moves anker links to correct position after a click*/
h1[id]:before, h2[id]:before, h3[id]:before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
}

h5{
	margin: 1px 0px 10px;
	text-indent: -25px;
	padding-left: 25px;
}

h6{
	margin-top: 10px;
}

p{
	margin: 0 0 25px;
}

h1+p{
	margin-top:30px;
}

p.dottedline{
	margin-top:30px;
	margin-bottom: 50px;
	border-top: 1px dotted #ddd;
}

fieldset{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0px 10px;
	margin: 0 0 15px 0;
}

fieldset p{
	margin: 10px 0 5px 0;
}

legend{
	padding: 0px 5px;
	font-weight:500;
	width: inherit;
	border: 0;
	font-size: inherit;
}

span.label{
	margin-right: 5px;
	font-variant: small-caps;
	font-size: 85%;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.panel{
	margin-bottom:10px;
}

.panel-default>span>img{
	margin-right: 5px;
}

.panel-description{
	float:none;
}

@media (min-width: 767px) {
	.panel-description{
		float:right;
	}
}

.panel-heading{
	cursor: pointer;
	padding: 5px 15px;
}

code{
	color: inherit;
	background-color: rgba(60,60,60,0.1);
}

h4 code{
  font-weight: bold;
}

.container-header {
  background-image: linear-gradient(#245E9A, #437AB4, #245E9A);
  border-radius: 4px;
  color: #FDFDFD;
  padding-left: 10px;
  height: 70px;
  margin-top: 10px;
  box-shadow: 0 2px 10px -1px rgba(0,0,0,0.4);
}

@media (min-width: 767px) {
	.container-header {
		padding-left:32px;
	}
}

.nav>li.fixedWidth{
	width: 60px;
}

.navbar-right{
	margin-right:0;
	text-align:right;
}

.navbar-default {
  background-color: inherit;
  border: none;
  z-index:999;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FDFDFD;
}

.navbar-nav-right>li{
	float: left;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav-right>li>a,
.navbar-nav-right>li>a:focus,
.navbar-nav-right>li>a:hover{
  color: #FDFDFD;
  font-size: 1.1em;
  background-color: transparent;
  text-decoration: none;
}

#octocat{
	background: transparent url('/PiWeb-Api/images/octocat-small.png') no-repeat center left;
}

#nuget{
	background: transparent url('/PiWeb-Api/images/nugeticon.png') no-repeat center left;
}

.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav-right>li>a.active{
	background-color: #245E9A;
	border-radius: 4px;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav>li>a.active{
		border-radius: 0;
	}
}

.navbar-default .navbar-toggle {
  border-color: #FDFDFD;
}

nav>.affix{
	margin-top: -50px;
	position: fixed;
  	right: 0;
  	left: 0;
  	z-index: 1030;
}

.navbar-collapse .navbar-nav{
  margin-top: 12px;
  margin-left: 54px;
}

.navbar-collapse .navbar-nav-right{
	margin-top:12px;
}

.navbar-brand {
  font-size: 2.8em;
  margin-top: 10px;
}

@media (min-width: 768px) {
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
}

.navbar-toggle{
  margin-top:10px;
  background-color: #FDFDFD;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
background-color: #FDFDFD;
}

.row{
	margin-left: 0;
	margin-right: 0;
	margin-top: 40px;
}

.page-main{
  background-color: #FDFDFD;
}

a.bold{
	font-weight:bold;
}

ul.subNavList{
	list-style:none;
	padding-left:20px;
	line-height: 2em;
}

ul.subNavList>li>a:hover {
	text-decoration: none;
}

#navcolumn>.nav :hover{
	background-color: #FDFDFD;
}

#navcolumn>.nav .nav{
	display:none;
}

#navcolumn>.nav .active .nav{
	display:block;
	margin-left: 6px;
}

#navcolumn>.nav>li>a{
	padding: 5px 0px;
}

#navcolumn>.nav>.active>a{
	font-weight:bold;
}

#navcolumn>.nav p{
  margin:0;
}

#navcolumn>.nav .nav a:hover{
	border-left: 2px dotted #437AB4;
}

#navcolumn>.nav .nav .active,
#navcolumn>.nav .nav .active:hover{
	border-left: 2px solid #337ab7;
}

#navcolumn>.nav .nav .active:hover{
	padding-left: 0px;
}

#navcolumn>.nav .nav>li>a{
	padding: 0px 15px;
}

#navcolumn>.nav .nav .active>a{
	padding: 0px 13px;
}

#navcolumn>.nav .nav>li>a:hover{
	background-color: #FDFDFD;
	padding-left: 13px;
}

#navcolumn>.nav .nav .active>a:hover{
	border-left:none;
}

.table{
	border-spacing: 1px;
	border-collapse: inherit;
}

.table>thead>tr>th{
	background: #437AB4;
	color: #FFF;
	font-weight: inherit;
	border:0;
	vertical-align: initial;
	font-variant: small-caps;
}

.table>tbody>tr>td{
	border:0;
	background-color:#f5f5f5;
}

.table th code{
	font-variant: all-small-caps;
	font-size: 100%;
	background-color: rgba(80,80,80,0.5);
}

.glyphicon{
	margin-right: 10px;
	padding-top: 7px
}

@media (max-width: 767px) {
	.glyphicon{
		visibility: hidden;
		display: none;
	}
}

.glyphicon-text{
	color: #437AB4;
	margin-right: 0;
	margin-top: 0;
}

.tooltip-inner{
	background-color: #437AB4;
	text-align: left;
	padding: 8px 8px;
}

.tooltip-inner code{
	color: #000;
}

.tooltip.top .tooltip-arrow{
	border-top-color: #437AB4;
}

div>.affix{
	margin-top: -80px;
}

.dropdown-menu{
	min-width: 0;
}

.dropdown-menu>li>a{
	padding-left: 25px;
	padding-right: 10px;
}

.dropdown-menu>li>a.active{
	font-weight: 700;
	background: url(../images/ok.png) 5px no-repeat;
}

.footer{
	text-align: center;
	border-top: 5px solid #437AB4;
  	padding: 4px;
  	background-color: #245E9A;
}

.footer>a,
.footer>a:hover,
.footer>a:visited{
	color: #DDD;
}
