html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* Base text styles */

body {
  font-family: "Segoe UI",Verdana,Helvetica,sans-serif;
  font-size: 14px;
  background-color:#444;
  color: #232323;
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;

}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

h1, h2, h3 {
	line-height:1.3;
	font-weight: 500;
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

h1 {
	font-size: 30px;
	margin-top:34px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
	margin-bottom: 15px;
}

h4, h5, h6 {
	font-weight: 700;
}

a {
  color:#245E9A;
  text-decoration:none;
  font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

a.bolder{
	font-weight:bolder;
}

a.bold{
	font-weight:bold;
}

a small {
	font-size: 12px;
}

em {
	font-style: italic;
}

strong {
  font-weight:700;
}

ul {
  list-style: inside;
  padding-left: 25px;
}

ol {
  list-style: none;
  color: #245E9A;
  font-weight:bold;
  margin-left:10px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
	font-color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

.inlined { display:inline; }

fieldset{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0px 10px;
	margin: 0 0 15px 0;
}

fieldset p{
	margin: 10px 0 5px 0;
}

legend{
	padding: 0px 5px;
	font-weight:500;
}

/* Images */

img {
  margin: 0;
  padding-right: 3px;
  vertical-align: sub;
}

/* Code blocks */

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  	color:#000;
  	font-size:14px;
  	white-space: pre-wrap;
}

th code{
	color:#fff;
}

/*code{
	font: inherit;
	background-color: gainsboro;
	border: 1px solid #888;
	border-radius: 4px;
	padding: 0px 3px;
}*/

pre {
	padding: 4px 12px;
  	background: #FDFEFB;
  	border-radius:4px;
  	border:1px solid #D7D8C8;
  	overflow: auto;
  	overflow-y: hidden;
	margin-bottom: 10px;
}

div.btn-group{
	float:right;
}

fieldset > ul{
	float: right;
	list-style: none;
	margin:0;
}

fieldset > ul > li{
	float: left;
	padding: 4px 12px 4px 12px;
	margin-left: 4px;
	background-color: #437AB4;
	border: 1px solid #245E9A;
	border-radius: 4px;
}

fieldset > ul > li.active{
	background-color: #305781;
}

fieldset > ul > li > a{
	color: #FDFDFD;
}

fieldset > ul > li > a:hover{
	text-decoration:none;
}

fieldset > .codeTab{
	display:none;
	visibility:hidden;
}

fieldset > .active{
	display: block;
	visibility: visible;
}

/* Tables */

table {
  width:100%;
}

table {
  margin-bottom: 32px;
  text-align: left;
  border-spacing:1px;
 }

th {
  padding: 10px;
  background: #437AB4;
  color: #FFF;
  font-size:1.1em;
 }

td {
  padding: 10px;
  background: #F6F6F6;
 }


/* Wrapper */
.wrapper {
  width:1150px;
  margin: 0 auto;
}


/* Header */

header h1{
	width: 1115px;
	background-color: #437AB4;
	box-shadow: 0 15px 30px -20px rgba(0,0,0,0.5);
	color: #FDFDFD;
	font-size: 45px;
	font-weight: 400;
	line-height: 1.3em;
	padding: 20px;
	padding-left:25px;
	margin: 0;
	height: 40px;
	margin-left: -6px;
	position: fixed;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
	z-index:2;
}

header h4{
	background-color: #245E9A;
	height: 25px;
	position: fixed;
	color: white;
	width: 1140px;
	padding-right: 20px;
	padding-top: 4px;
	margin-top: 80px;
	margin-left: -6px;
	font-weight: normal;
	text-align: right;
	border-bottom: 1px solid #FDFDFD;
	box-shadow: 0px 2px 5px 0px rgba(1,1,1,0.5);
	z-index: 3;
}

header a {
	text-decoration: underline;
	color:#FDFDFD;
}

/* Navigation */

nav {
	background-color: #ECECEC;
	height:auto;
	width:210px;
	float:left;
	position:fixed;
	border: 1px solid #E2E2E2;
	padding: 28px 25px 0px 25px;
	top:0;
	bottom:0;
	margin-top:110px;
	box-shadow: 0px 0px 2px 0 #444;
	z-index:1;
	-webkit-font-smoothing: antialiased;
}

nav p {
	font-size: 12px;
	line-height:1.5;
	padding-left:16px;
}

nav ul {
  list-style:none;
  padding-left:16px;
  font-weight:100;
  margin:0;
}

nav ul.about-links{
	padding:0;
	padding-bottom: 8px;
	margin-bottom:27px;
	border-bottom: 1px solid #C2C2C2;
}

nav ul.about-links li{
	display: inline-block;
	padding-left: 10px;
}

nav ul.about-links li a{
	width: 57px;
	display: block;
	text-align: center;
	line-height:1em;
}

nav ul.about-links li a svg{
	width: 55px;
	height: 55px;
	fill: #245E9A;
}

nav ul.about-links li a svg:after{
	content: ""; 
  	position: absolute;
  	top: 0;
	  right: 0;
  	bottom: 0;
  	left:0;
}

nav p a{
	text-decoration: underline;
	color:#437AB4;	
}

/* Section - for main page content */

section {
  	width:817px;
	position: fixed;
	margin-left: 262px;
	top: 110px;
	bottom: 0px;
	overflow: auto;
  	background-color: #FDFDFD;
  	padding: 0 30px 20px 40px;
  	box-shadow: 0 2px 5px 0 #000;
  	border-right: 1px solid black;
}

@media print, screen and (max-width: 960px) {

	div.wrapper {
	width:auto;
	margin:0;
	}
	
	header, section, footer {
	float:none;
	position:static;
	width:auto;
	}
	
	footer {
		border-top: 1px solid #ccc;
		margin:0 84px 0 50px;
		padding:0;
	}

	header {
	padding-right:320px;
	}
	
	section {
	padding:20px 84px 20px 50px;
	margin:0 0 20px;
	}
	
	header a small {
	display:inline;
	}
	
	header ul {
	position:absolute;
	right:130px;
	top:84px;
	}
}

@media print, screen and (max-width: 720px) {
	body {
	word-wrap:break-word;
	}
	
	header {
	padding:10px 20px 0;
		margin-right: 0;
	}
	
	section {
	padding:10px 0 10px 20px;
	margin:0 0 30px;
	}
	
	footer {
		margin: 0 0 0 30px;
	}
	
	header ul, header p.view {
	position:static;
	}
}

@media print, screen and (max-width: 480px) {

	header ul li.download {
	display:none;
	}

	footer {
		margin: 0 0 0 20px;
	}

	footer a{
		display:block;
	}

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
  
  .collapsing {
    -webkit-transition: none;
    transition: none;
}
}
